.searchResultCategory {
    color: #ffffff;
}
li.ba {
    list-style-type: none;
}
.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
.b5fwa0m2 {
    right: 8px;
}
.pmk7jnqg {
    position: absolute;
}
.plgsh5y4 {
    top: 8px;
}
.fa-edit-index{
    
}
.edit-content{
    background-color: black;
    z-index: 9999;
    color: white;
}
